body {
   --c1: #DFD3C3;
   --c2: #F8EDE3;
  }
  
  .container-left {
    background-color: #85586F;
  }
  
  .container-left-top {
    color: #F8EDE3;
  }
    
  .container-left-bottom {
    color: #F8EDE3;
  }
  
  .social a {
    color: #F8EDE3;
  }
  
  .social a:hover {
    color: #D0B8A8;
  }
  
  .user-name span:first-child {
    color: #85586F;
  }
  
  .decorative-element-1 a {
    color: #D0B8A8;
  }
  .decorative-element-1 {
    background-color: #85586F;
  }
  .decorative-element-2 {
    background-color: #D0B8A8;
  }
  .decorative-element-3 {
    background-color: #F8EDE3;
  }
  .decorative-element-4 {
    background-color: #DFD3C3;
  }
  .decorative-element-5 {
    background-color: #85586F;
  }
  
