html {
  --s: 20px; /* size of the lines */
  --g: 15px; /* gap between lines */
 
 --c1: #fab3bf;
 --c2: #d476e2;
  
  background:
    conic-gradient(at var(--s) calc(100% - var(--s)),#0000 270deg,var(--c1) 0) calc(var(--s) + var(--g)) 0,
    linear-gradient(var(--c2) var(--s),#0000 0) 0 var(--g),
    conic-gradient(at var(--s) calc(100% - var(--s)),#0000 90deg,var(--c2) 0 180deg, var(--c1) 0),
    #eeeadb;
  background-size: calc(2*(var(--s) + var(--g))) calc(2*(var(--s) + var(--g)));
}

.card-background {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 4%;
  padding: auto;
  text-align: right;
  background-color: white;
  border-radius: 10px;
  min-height: 600px;
  box-shadow: 5px 5px 5px #717171;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.container-left {
  flex: 1 1 auto;
  display: flex;
  width: 20%;
  padding: 10px;
  height: 100%;
  background-color: rgb(227, 158, 218);
}

.container-bottom {
  padding: 10px;
  height: 100%;
  width: 100%;
  align-self: flex-end;
  color: rgb(169, 9, 150);
}
