body {
  --s: 20px; /* size of the lines */
  --g: 15px; /* gap between lines */
 
 --c1: #DFD3C3;
 --c2: #F8EDE3;
  
  background:
    conic-gradient(at var(--s) calc(100% - var(--s)),#0000 270deg,var(--c1) 0) calc(var(--s) + var(--g)) 0,
    linear-gradient(var(--c2) var(--s),#0000 0) 0 var(--g),
    conic-gradient(at var(--s) calc(100% - var(--s)),#0000 90deg,var(--c2) 0 180deg, var(--c1) 0),
    #eeeadb;
  background-size: calc(2*(var(--s) + var(--g))) calc(2*(var(--s) + var(--g)));
}

.card-background {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 4%;
  padding: auto;
  background-color: white;
  border-radius: 10px;
  min-height: 600px;
  box-shadow: 5px 5px 5px #717171;
  display: flex;
  height: 100%;
}

.container-right {
  flex: 3;
  width: 20%;
  padding: 10px;
}

.container-left {
  flex: 1;
  display: flex;
  border-radius: 10px 0 0 10px;
  flex-flow: column;
  background-color: #85586F;
  line-height: 1.8;
}

.container-left-top {
  display: flex;
  flex: 3;
  padding: 10%;
  width: 100%;
  color: #F8EDE3;
}

.contact-info {
  align-self: flex-end;
}

.container-left-middle {
  display: flex;
  flex: 0;
  padding: 10px;
  width: 100%;
  background-color: #efefef;
}

.container-left-bottom {
  flex: 1;
  padding: 10%;
  width: 100%;
  color: #F8EDE3;
  align-self: bottom;
}

.social a {
  color: #F8EDE3;
  padding-right: 5%;
}

.social a:hover {
  color: #D0B8A8;
}