body {
  --s: 20px; /* size of the lines */
  --g: 15px; /* gap between lines */
 
 --c1: #DFD3C3;
 --c2: #F8EDE3;
  
  background:
    conic-gradient(at var(--s) calc(100% - var(--s)),#0000 270deg,var(--c1) 0) calc(var(--s) + var(--g)) 0,
    linear-gradient(var(--c2) var(--s),#0000 0) 0 var(--g),
    conic-gradient(at var(--s) calc(100% - var(--s)),#0000 90deg,var(--c2) 0 180deg, var(--c1) 0),
    #eeeadb;
  background-size: calc(2*(var(--s) + var(--g))) calc(2*(var(--s) + var(--g)));
}

.container-card-background {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 4% auto;
  padding: auto;
  background-color: white;
  border-radius: 10px;
  min-height: 600px;
  box-shadow: 5px 5px 5px #717171;
  display: flex;
  height: 100%;
  max-width: 1200px;
}

.container-right {
  flex: 3;
  width: 20%;
  padding: 10px;
  position: relative;
}

.container-left {
  flex: 1;
  display: flex;
  border-radius: 10px 0 0 10px;
  flex-flow: column;
  background-color: #85586F;
  line-height: 1.8;
  min-width: 290px;
}

.container-left-top {
  display: flex;
  flex: 3;
  padding: 10%;
  width: 100%;
  color: #F8EDE3;
}

.contact-info {
  align-self: flex-end;
}

.container-left-middle {
  display: flex;
  flex: 0;
  padding: 10px;
  width: 100%;
  background-color: #efefef;
}

.container-left-bottom {
  flex: 1;
  padding: 10%;
  width: 100%;
  color: #F8EDE3;
  align-self: bottom;
}

.social a {
  color: #F8EDE3;
  padding-right: 5%;
}

.social a:hover {
  color: #D0B8A8;
}

.container-user-image {
  position: relative;
  float: left;
  position: absolute;
  left: -5%;
  top: 20px;
}

.container-user-data {
  position: relative;
  float: right;
  width: 68%;
}

.user-name {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1em;
  margin-top: 3%;
}

.user-name span:first-child {
  color: #85586F;
  display: block;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 2em;
}

.about-user {
  font-size: 1em;
  margin-bottom: 0;
}

.skill-headline {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 2em;
}

.skills li {
  font-size: 1em;
  line-height: 2em;
}

@media screen and (max-width:1200px){
  .container-user-image {
    position: absolute;
    left: -195px;
    top: 20px;
    max-width: 100px;
  }
  .container-user-image img {
    max-width: 100px;
    height: auto;
  }
  .container-user-data {
    width: 100%;
  }
}